/* In my CSS file, I organized the CSS selectors into 12 sections according to Meiert’s 2013 article.
   In each section, I ordered the CSS selectors and the declarations by alphabetical order. */

/* Google Font */
@import url("https://fonts.googleapis.com/css?family=Merienda");

/* Icons for the footer */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* 1. Universal */

/* 2. Document */

/* 3. Metadata */

/* 4. Sectioning and Structuring */
body {
  background-color: bisque;
  margin: 0px;
}

header {
  background-color: cornflowerblue;
  padding: 0px;
}

nav {
  background-color: chocolate;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav li {
  display: inline;
}

nav li a {
  color: chartreuse;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  text-decoration: none;
}

nav li a:hover {
  color: purple;
  text-shadow: 8px 8px 16px purple;
}

nav ul {
  text-align: center;
}

footer {
  background-color: gray;
  clear: both;
  text-align: center;
  margin-bottom: -100px;
}

footer ul {
  padding: 10px;
}

footer li {
  display: inline;
  color: blue;
  margin-right: 50px;
}

footer li i {
  color: black;
}

p {
  font-family: "Merienda", serif;
}

/* 5. Headings */

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-indent: 10px;
}

/* 6. Lists */

/* 7. Media */

/* 8. Forms */
form {
  background-color: beige;
  width: 400px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

legend {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
}

/* 9. Tables */
/* table {
  background-color: beige; 
} */

td,
th {
  border: 1px solid;
  font-family: Arial, Helvetica, sans-serif;
}

/* 10. Phrasing */

/* 11. Misc */

/* 12. Attributes */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image {
  height: 450px;
  width: 600px;
}

.mapLeft {
  margin: 10px;
}

.mapRight li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 10px;
}

.rankedLocation h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  text-indent: 5px;
}

div tr {
  background-color: red;
}

#Heading {
  background-color: yellow;
  border: 2px solid;
  border-radius: 10px;
  font-size: 48px;
  margin: auto;
  padding: 3px;
  width: fit-content;
}

#Heading a {
  text-decoration: none;
  color: purple;
}

#Heading a:hover {
  color: aquamarine;
}

#IntroParagraph {
  width: 80%;
  margin: auto;
  text-decoration: dotted underline;
  line-height: 40px;
}
