/* In my CSS file, I organized the CSS selectors into 12 sections according to Meiert’s 2013 article.
   In each section, I ordered the CSS selectors and the declarations by alphabetical order. */

/* Google Font */
@import url("https://fonts.googleapis.com/css?family=Merienda");

/* Icons for the footer */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* 1. Universal
*
Pseudo classes (if not applied to specific elements)
Pseudo elements (if not applied to specific elements) */
/* 2. Document
html */
/* 3. Metadata
(head)
(title)
(base)
(link)
(meta)
(style)
(script)
(noscript)
(template)
(slot) */
/* 4. Sectioning and Structuring
body
header
nav
main
article
aside
section 
pre
blockquote
figure
figcaption
address
summary
details
div
*/

footer {
  background-color: beige;
  text-align: center;
  clear: both;
}

footer li {
  display: inline;
  margin-right: 50px;
}

p {
  font-family: "Merienda", serif;
}

/* 5. Headings
hgroup
h1
h2
h3
h4
h5
h6 */

/* 6. Lists
ul
ol
dl
dt
dd
menu
[menuitem] */

/* li {
  display: inline;
} */

/* 7. Media
canvas
object
embed
img
picture
audio
video
[(param)]
(source)
track
map
area
[svg]
[math]
iframe */

/* 8. Forms
form
fieldset
legend
label
input
button
select
optgroup
option
datalist
textarea
output */

/* 9. Tables
table
caption
colgroup
col
thead
tfoot
tbody
tr
th
td */

/* 10. Phrasing
a
strong
em
b
i
u
s
sup
sub
small
abbr
dfn
mark
del
ins
q
cite
data
progress
time
meter
code
var
samp
kbd
[keygen]
bdi
bdo
ruby
rt
rp
span */

/* 11. Misc
hr
(br)
(wbr)
dialog */

/* 12. Attributes */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
